<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

{% include nav.html %}

{{ content }}

{% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0"/>
<!-- Migrate from head to bottom, no longer block render and still work -->

<!--鼠标点击爱心动画-->
<script type="text/javascript" src="/js/src/love.js"></script>

<!-- 返回顶部按钮 -->
<link rel="stylesheet" href="/css/backtop.css">
<script type="text/javascript" src="/js/src/backtop.js"></script>
<!-- 圆形返回顶部样式-->
<!--<div id="back_top">-->
<!--    <a href="#">TOP</a>-->
<!--</div>-->

<!-- 钢铁侠返回顶部样式-->
<a id="rocket" href="#top" class=""></a>

</body>

</html>
